<!DOCTYPE html>
<html>
    <head>
        <title>Smart Fleet Management System</title>
        <link rel="stylesheet" href="..\\static\\about.css">
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul class="menu_ul">
                    <li class="menu_li"><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a  href="{{ url_for('blog') }}">Blog</a></li>
                    <li><a href="{{ url_for('how_it_works') }}">How it works</a></li>
                    <li><a href="{{ url_for('demo') }}">Demo</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register_now') }}">Register now</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>About the fleet management</h1>
            <p>Fleet management is the process of organizing, tracking and maintaining a vehicle fleet . Typically, these commercial
                fleets will consist of cars, trucks and vans. Fleet management can also help businesses care for drivers’ health and
                safety, and make sure that they’re obeying the law.
                A fleet management system will normally have a hardware element — such as GPS trackers fitted to the vehicles
                and a software element. The software element allows drivers to keep their records up to date, and gives bosses an
                easy way to see, at a glance, where their fleet is and how well they’re performing. Fleet management systems can
                also be used to dispatch drivers, provide routing and traffic information, monitor fuel, and much more.IoT in fleet
                management systems helps improve manageability, savings, visibility of cargo vehicles and passenger loads. The
                IoT-enabled fleet management system benefits drivers, fleet managers, passengers, insurance companies and other
                stakeholders.</p>
        </section>
        <footer>
            <ul>
                <li><h5 class="copy_right">© Copyright 2021 All rights reserved</h5></li>
                <li><h5 class="smart">Smart Fleet Management System</h5></li>
            </ul>
        </footer>
    </body>
</html>