<!DOCTYPE html>
<html>
    <head>
        <title>Forget password</title>
        <link rel="stylesheet" href="..\\static\\contact.css">
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul class="menu_ul">
                    <li class="menu_li"><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a  href="{{ url_for('blog') }}">Blog</a></li>
                    <li><a href="{{ url_for('how_it_works') }}">How it works</a></li>
                    <li><a href="{{ url_for('demo') }}">Demo</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register_now') }}">Register now</a></li>
                </ul>
            </nav>
        </header>
        <section id="forget_password">
            <br>
            <br>
            <br>
            <br>
            <h3>Type in your email address.</h3>
            <h4>A reset password link will be sent to your email address.</h4>
            <form  action="{{ url_for('reset_password') }}" method="get">
                <br>
            <br>
            <label for="Email">Email:</label>
            <br>
			<input id="Email" name="email" placeholder="Enter Email" type="text" required>
            <br>
            <br>
            <br>
            <input type="submit" value="Reset Password">
            <br>
            <br>
            <br>
            <br>
            <br>
           </form>
        </section>
        <footer>
            <ul>
                <li><h5 class="copy_right">© Copyright 2021 All rights reserved</h5></li>
                <li><h5 class="smart">Smart Fleet Management System </h5></li>
            </ul>
        </footer>
    </body>
</html>