body{
  background-image: url(truck.jpg);
  background-size:auto;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
.menu ul {
    background-color: rgb(51, 51, 51,0.7);
}
  .menu_li li{
      color: #333;
      background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
    
  }
li a:hover {
    background-color: #f1f1f191
}
h1{
  margin: 10px;
  padding-top: 15px;
  color:#ffefd5;
  letter-spacing: 1px;
  font-family:  Palatino;
  font-size:xx-large;
  font-weight: bolder;
}
h2{
  margin: 10px;
  padding-top: 15px;
  color:#ffefd5;
  letter-spacing: 2px;
  font-family:  Palatino;
  font-size:x-large;
  font-weight: bolder;
}
h3{
  margin: 10px;
  padding-top: 20px;
  color: rgb(248, 223, 185);
  font-family:  Palatino;
  font-size:large;
  font-weight: bold;
}
h4{
  margin: 10px;
  padding-top: 20px;
  color: rgb(252, 236, 210);
  font-family:  Palatino;
  font-size: large;
  font-weight: bold;
}
  section{
      margin: 20px;
      background-color: rgba(77, 76, 76, 0.5);
      text-align: center;
      color: azure;
      font-family:  Palatino;
      margin-top: 10px;
      padding: 20px 100px;
  }
  #loc{
      background-color: rgba(210, 105, 30, 0.5);
      color: #f1f1f1;
     ;
      padding: 20px 100px;
  }
  #status{
    background-color: rgba(255, 140, 0, 0.5);
    color: #333;
   ;
    padding: 20px 100px;
  }
  #health{
    background-color: rgb(240, 119, 34,0.5);
    color:aliceblue;
   ;
    padding: 20px 100px;
  }
  #behavior{
    background-color: rgb(252, 126, 35,0.5);
   ;
    padding: 20px 100px;
  }
  #events{
    background-color: rgb(204, 102, 29,0.5);
    color: #f1f1f1;
   ;
    padding: 20px 100px;
  }
  #trip{
    background-color: rgb(230, 114, 32,0.5);
   ;
    color: beige;
    padding: 20px 100px;
  }
  p{
    font-family:  Palatino;
    color: azure;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: large;
    text-align: center;
}

 /*.icons a:hover {
    
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.icons li:hover {
    background-color: rgba(4, 57, 65, 0.286);
    color: white;
    background-color: #5c5c5c;

}*/
#nav_bar{
  display: flex;
  justify-content: center;
}
.bar a{
  background-color: rgba(49, 24, 7, 0.7);
  color: beige;
}
footer {
  background-color: rgb(51, 51, 51,0.7);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.copy_right {
  margin-right: 830px;
  margin-left: 10px;
}
.smart {
  margin-left: 220px;
  margin-right:10px;
}