body{
    background-image: url(truck.jpg);
    background-size:auto;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }

  .truck{
    background-color: hsla(25, 60%, 26%, 0.4);
    text-align: center;
    margin: 100px 20px;
    padding: 160px 10px;
}

h2{
    margin: 10px;
    padding-top: 15px;
    color:#ffefd5;
    letter-spacing: 1px;
    font-family:  Palatino;
    font-size:xx-large;
    font-weight: bolder;
}
h4{
    margin: 10px;
    padding: 20px;
    color: rgb(248, 223, 185);
    font-family:  Palatino;
    font-size:large;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.menu ul {
    background-color: rgb(51, 51, 51,0.7);
}
  .menu_li li{
      color: #333;
      background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
    
  }
li a:hover {
    background-color: #f1f1f191
}
button {
    background-color: #ca9e86d8; 
    padding: 10px 20px;
    font-family:Palatino;
    font-size: 20px;
    margin: 0 15px;
    border: none;
}
button:hover{ 
    background-color: rgba(163, 94, 37, 0.8);
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(194, 147, 95, 0.24), 0 17px 50px 0 rgba(255, 192, 134, 0.19);
}
button a{
    
    color: rgb(114, 48, 1);
    text-align: center;
    text-decoration: none;
    margin: 10px;
}
button a:hover{
    color: #f1f1f1;
}

footer {
    background-color: rgb(51, 51, 51,0.7);
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.copy_right {
    margin-right: 830px;
    margin-left: 10px;
}
.smart {
    margin-left: 220px;
    margin-right:10px;
}

  .modal {
    display: none; 
    position: fixed; 
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(182, 132, 74, 0.7);
    margin: auto; /* 15% from the top and centered */
    border: 1px solid rgb(82, 43, 20);
    width: 80%; 
    height: 65%;
}

  /* The Close Button */
  .close {
   
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
   input{
    font-family:  Palatino;
    width: 80%;
    padding: 20px 20px;
    margin: 20px 5px;
    box-sizing:border-box;
    font-size:medium;
    background-color: rgb(250, 213, 168, 0.5);
  }
  #register input {
    font-family:  Palatino;
    width: 80%;
    padding: 15px 20px;
    margin: 15px 5px;
    box-sizing:border-box;
    font-size:medium;
    background-color: rgb(250, 213, 168, 0.5);
  }  
  label{
    margin: 15px;
    padding: 20px;
    color: rgb(248, 223, 185);
    font-family:  Palatino;
    font-size:large;
    font-weight: bold;
}
a{
    color: #575046;
    text-decoration: underline;
}
span{
    font-family:  Palatino;
    color: rgb(27, 27, 27);
    padding-left: 10px;
}
::placeholder{
  color: rgb(51, 51, 51,0.7);
}